<html>
  <head>
    <meta charset="UTF-8" />
    <title>Métrique</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <script>
      google.charts.load('current', { packages: ['corechart'] });
      google.charts.setOnLoadCallback(drawBackgroundColor);

      function drawBackgroundColor() {
        function drawChart(data) {
          // Convertir les données récupérées en un tableau utilisable par Google Charts
          var dataTable = new google.visualization.DataTable();
          dataTable.addColumn('string', 'Date');
          dataTable.addColumn('number', 'Température');

          data.results.forEach(entry => {
            var date = new Date(entry.Jour * 1000);
            dataTable.addRow([date.toLocaleDateString(), entry.temp]);
          });

          // Configurer les options de l'histogramme
          var options = {
            title: 'Distribution des températures de la ville de Tawarano',
            legend: { position: 'none' }, // Pas de légende pour un histogramme
            histogram: {
              bucketSize: 5, // Vous pouvez ajuster la taille des "buckets"
            },
          };

          // Dessiner un histogramme au lieu d'un graphique en ligne
          var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
          chart.draw(dataTable, options);
        }

        // Récupération de données depuis notre API /tawarano/
        fetch('/tawarano/')
          .then(response => response.json())
          .then(data => {
            drawChart(data);
          });
      }
    </script>
  </body>
</html>
